.card_container {
  width: 80%;
  min-height: 30em;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.loading_error {
  margin: 8em;
  img {
    width: 30em;
    margin-bottom: 2em;
  }
}
