@keyframes fade {
  0% {
    transform: scale(0.99);
    opacity: 0.45;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.99);
    opacity: 0.45;
  }
}

.load {
  animation: fade 2s ease-in-out infinite;
  height: 20em;
  width: 20em;
  background-color: green;
  padding: 1em;
  margin: 2em;
  border-radius: 10px;
}
