.product {
  margin: 4em auto;
  margin-top: 0;
  padding: 1em;
  width: 44em;
  h1, h2 {
    margin: 1.25em;
  }
}

.product_details {
  font-size: 1.6em;
  line-height: 2em;
  margin: 1.5em;
}

.product_img {
  transform: scale(3);
  margin: 3em;
  height: 3em;
  width: 3em;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  Button {
    height: 3em;
    margin: 0.5em;
  }
}


.back {
  border: solid 1px green;
  width: 8em;
  margin: 4em 6em;
  padding: 0.25em;
  border-radius: 3px;
  a {
    color: green;
    font-size: 2em;
    text-decoration: none;
  }
  &:hover {
    transition: 0.3s;
    background-color: green;
    a {
      color: white
    }
  }
}

.success {
    font-size: 1.5em;
  a {
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
}
