.carousel {
  height: auto;
  width: 60em;
  display: inline-block;
  justify-content: center;
  border: solid 3px green;
  margin: 2em auto;
  padding: 1em;
  h2{
    text-transform: capitalize;
    margin: 0;
  }
}

.display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel_card {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1em;
  border: solid 2px green;
  height: 10em;
  width: 10em;
  img {
    width: 6em;
    padding: 1em;
  }
}
